@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font: 'Poppins', sans-serif;

#root {
  position: relative;
  width: 100%;
  height: 200vh;
  top: 0;
  left: 0;

  //   code for button get started
  .btn-getStarted {
    border-radius: 0.3em;
    padding: 0.7em 1.7em;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    span {
      font-weight: 200;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

// code for navbar
.navbar {
  padding: 1em 0.5em;
  font-family: $font;
  .logo-navbar {
    user-select: none;
  }

  //   CODE FOR BUTTON SIGNIN IN NAVBAR
  .btn-signin {
    border-radius: 2em;
    padding: 0.6em 1.3em;
    border: none;
    transition: 0.3s;
    background: transparent;
    img {
      transform: scale(0.7);
    }
    span {
      font-size: 0.9em;
      font-weight: 600;
      margin-left: 0.7em;
    }
  }
}

// CODE FOR JUMBOTRON
.jumbotron {
  position: relative;
  width: 100%;
  height: 780px;
  top: 0;
  padding: 100px 1em 0;
  left: 0;
  background: url('Assets/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  .container {
    height: 100%;
    position: relative;
  }

  // title jumbotron
  .title-jumbotron {
    font-family: $font;
    text-align: center;
    color: #000;
    text-transform: capitalize;
    font-size: 3em;
    font-weight: 700;
  }
  .desc-jumbotron,
  .footer-text-jumbotron {
    color: #000;
    font-family: $font;
    text-align: center;
    font-weight: 500;
  }

  .container-btn {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .snipped-jumbotron {
    width: 100%;
    position: absolute;
    bottom: -2em;
    left: 0;
  }
}

// CODE MAIN CONTENT
.main-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-auto-rows: 400px;

  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  // Content left
  .content-left {
    padding: 4em 1em;

    .title-content {
      color: #000;
      font-family: $font;
      font-weight: 800;
      font-size: 2.2em;
    }

    .desc-content {
      padding-right: 1em;
      font-weight: 600;
    }
  }
  // CONTENT RIGHT
  .img-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (max-width: 1000px) {
  .jumbotron {
    height: 600px;
  }
  .main-content {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      'header'
      'footer';

    .content-left {
      grid-area: footer;
    }
    .content-right {
      grid-area: header;
    }
  }
}
@media screen and (max-width: 768px) {
  .jumbotron {
    height: 600px;
    .snipped-jumbotron {
      bottom: 0;
      left: 0;
    }
  }
}
@media screen and (max-width: 600px) {
  #root {
    #btn-started-navbar {
      display: none;
    }
  }
}

@media screen and (max-width: 400px) {
  .jumbotron {
    .title-jumbotron {
      font-size: 2em;
    }
  }
  .main-content {
    .content-left {
      .title-content {
        font-size: 1.5em;
      }
    }
  }
}
