@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  top: 0;
  left: 0;
}

#root .btn-getStarted {
  border-radius: 0.3em;
  padding: 0.7em 1.7em;
  border: none;
  background: #000;
  color: #fff;
  font-weight: 600;
}

#root .btn-getStarted span {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
}

.nav-top {
  padding: 1em 0.5em;
  font-family: "Poppins", sans-serif;
}

.nav-top .logo-navbar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-top .btn-signin {
  border-radius: 2em;
  padding: 0.6em 1.3em;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: transparent;
}

.nav-top .btn-signin img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.nav-top .btn-signin span {
  font-size: 0.9em;
  font-weight: 600;
  margin-left: 0.7em;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 780px;
  top: 0;
  padding: 100px 1em 0;
  left: 0;
  background: url("Assets/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.jumbotron .container {
  height: 100%;
  position: relative;
}

.jumbotron .title-jumbotron {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #000;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 700;
}

.jumbotron .desc-jumbotron,
.jumbotron .footer-text-jumbotron {
  color: #000;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
}

.jumbotron .container-btn {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.jumbotron .snipped-jumbotron {
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
}

.main-content {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.7fr;
      grid-template-columns: 1fr 0.7fr;
  grid-auto-rows: 400px;
}

.main-content .item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-content .content-left {
  padding: 4em 1em;
}

.main-content .content-left .title-content {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 2.2em;
}

.main-content .content-left .desc-content {
  padding-right: 1em;
  font-weight: 600;
}

.main-content .img-content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.nav-footer {
  margin-top: 50px;
  padding: 0;
  height: auto;
}

.nav-footer img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-footer .inner-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-footer .inner-footer a {
  color: #000;
  text-decoration: none;
  margin-top: 5px;
}

@media screen and (max-width: 1000px) {
  .jumbotron {
    height: 600px;
  }
  .main-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: auto;
        grid-template-areas: 'header' 'footer';
  }
  .main-content .content-left {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .main-content .content-right {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
    height: 600px;
  }
  .jumbotron .snipped-jumbotron {
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width: 600px) {
  #root #btn-started-navbar {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .jumbotron .title-jumbotron {
    font-size: 2em;
  }
  .main-content .content-left .title-content {
    font-size: 1.5em;
  }
  .inner-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */